* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.logo {
  width: 30%;
}
.barra-nav {
  display: flex;
  justify-content: space-around;
}

body {
  background-image: url(./imgs/fondo-lapida.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.tematicas-titulo {
  font-family: 'Caveat Brush', cursive;
  font-size: 3rem;
  color: #fff;
  background: rgb(118, 19, 194);
  background: linear-gradient(
    90deg,
    rgba(118, 19, 194, 1) 0%,
    rgba(62, 1, 92, 1) 35%,
    rgba(100, 32, 187, 1) 100%
  );
  padding: 1em;
  margin: auto;
}

.card .btn-index {
  width: 60%;
  background-color: #824283;
  color: #fff;
  cursor: pointer;
  border: none;
  height: 40px;
}
.card .btn-index:hover {
  width: 90%;
  background-color: #4d034e;
  font-size: 1.1rem;
}
.card-box {
  border: none;
  border-radius: 5px;

  /* -webkit-box-shadow: 10px 10px 13px -5px rgba(102,102,102,1);
  -moz-box-shadow: 10px 10px 13px -5px rgba(102,102,102,1);
  box-shadow: 10px 10px 13px -5px rgba(102,102,102,1); */
}
.card-box img {
  object-fit: cover;
}
.card .card-body {
  margin: 0.1em;
}

.contenedor_todo {
  max-width: 100%;
  margin: auto;
}

.contenedor_todo,
.caja_trasera {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /* background-color: rgba(196, 76, 226, 0.548); */
  background-color: rgba(195, 0, 255, 0.5);
}

.caja_trasera div {
  padding: 40px;
  color: white;
  transition: all 500ms;
}

.caja_trasera div p,
.caja_trasera button {
  padding: 1em;
}

.caja_trasera div h3 {
  font-weight: 400;
  font-size: 2rem;
}

.caja_trasera div p {
  font-size: 1.1rem;
  font-weight: 300;
}

.caja_trasera button {
  padding: 10px 40px;
  border: 2px solid #fff;
  font-size: 14px;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;
}

.caja_trasera button:hover {
  background: #fff;
  color: #b446fd;
}

.carou-principal {
  max-width: 100%;
  margin: auto;
}
.imgs-carou img {
  max-width: 100%;
}
video {
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* Ejemplo: relación de aspecto 16:9 */
}

@media screen and (max-width: 856px) {
  .caja_trasera {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .caja_trasera div {
    padding: 10px;
  }
  video {
   margin-top: 2em;
  }
  .logo {
    width: 20%;
  }
  .tematicas-titulo {
    font-size: 1.5rem;
    padding: 0.1;
  }
}
@media (max-width: 440px) {
  .logo-none{
    display: none; 
  }
}

