* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel Decorative", "Franklin Gothic Medium", "Arial Narrow",
    Arial, sans-serif;
}
.body-index {
  background-image: url(./imgs/sombras.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/*NAV*/
.logo {
  width: 30%;
}

/* tITULOS  INDEX*/
.tematicas-titulo {
  font-family: "Nosifer", cursive;
  letter-spacing: 3px;
  font-size: 2.5rem;
  color: #fff;
  background: rgb(118, 19, 194);
  background: linear-gradient(
    90deg,
    rgba(118, 19, 194, 1) 0%,
    rgba(62, 1, 92, 1) 35%,
    rgba(100, 32, 187, 1) 100%
  );
  padding: 1em;
  margin: auto;
}

/* CARDS INDEX*/
.contenedor-cards .card-box {
  border: none;
  border-radius: 10px;
  padding: 0;
  background-color: #000;
  color: #fff;
}
.card-box img {
  object-fit: cover;
  height: 13rem;
}
.card .btn-index {
  width: 60%;
  background-color: #824283;
  color: #fff;
  cursor: pointer;
  border: none;
  height: 40px;
}
.card .card-title {
  color: #824283;
}
.card .btn-index:hover {
  background-color: #4d034e;
  color: #fff;
  animation-name: wiggle;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 3s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wiggle {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25%,
  75% {
    transform: translate(10px, 0);
  }
  50% {
    transform: translate(-10px, 0);
  }
}

.card-box {
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.card-box:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(119, 118, 118, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(192, 188, 188, 0.47);
}

/*SECTION INDEX LOGIN Y REGISTER */
.contenedor_todo {
  max-width: 100%;
  margin: auto;
}

.contenedor_todo,
.caja_trasera {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(195, 0, 255, 0.5);
}

.caja_trasera div {
  padding: 40px;
  color: white;
  transition: all 500ms;
}

.caja_trasera div p,
.caja_trasera button {
  padding: 1em;
}

.caja_trasera div h3 {
  font-weight: 400;
  font-size: 2rem;
}

.caja_trasera div p {
  font-size: 1.1rem;
  font-weight: 300;
}

.caja_trasera button {
  padding: 10px 30px;
  border: 2px solid #fff;
  font-size: 14px;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;
}

.caja_trasera button:hover {
  background: #fff;
  color: #b446fd;
}
/* CAROUSEL */
.carou-principal {
  max-width: 80%;
  margin: auto;
}
.imgs-carou img {
  max-width: 100%;
}
video {
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

/* FOOTER*/

.fa-instagram {
  color: rgb(228, 82, 107);
}
.fa-location-dot {
  color: blueviolet;
}
.footer a:hover {
  font-size: 1.5em;
  transition: font-size 0.3s;
}

/* --------PAGES -----*/

/* LOGIN Y REGISTER */
.formulario {
  width: 40%;
  border: 5px solid #8f4790;
  background-color: #fff;
  border-radius: 10px;
  padding: 1em;
}
.contenedor-login-register {
  height: 80vh;
}
.formulario .img-monstruo {
  height: 12rem;
  width: 17rem;
  margin: 0 auto;
}
.div-btn .login-register {
  text-decoration: none;
  color: #630c64;
}

.formulario input {
  border: 2px solid #8f4790;
  border-radius: 10px;
}
.bx {
  font-size: 25px;
  transform: translateY(-120%);
  margin-left: 85%;
}
.div-btn .custom-button {
  background-color: #824283;
  color: #fff;
  cursor: pointer;
  border: none;
  height: 40px;
  box-shadow: 1px 1px 2px #000;
}
.div-btn .btn-login {
  width: 60%;
}
.div-btn .btn-register {
  width: 75%;
}
.div-btn .custom-button:hover {
  background-color: #8f4790;
  color: #fff;
}
/* FORMULARIO CONTACTO */
.fondo-contacto {
  background-image: url(../imgs/sombras.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  padding: 2em;
}

/* ----- MEDIA QUERYS -----*/
@media (max-width: 1200px) {
  .carou-principal {
    max-width: 100%;
  }
  .register {
    transform: translateY(-5%);
  }
  .formulario .img-monstruo {
    height: 7rem;
    width: 10rem;
  }
  .section-img-video .img-flyer {
    height: 15rem;
  }
  .icon i {
    left: -25%;
  }
}
@media (max-width: 856px) {
  .caja_trasera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .caja_trasera div {
    padding: 10px;
  }
  video {
    margin-top: 2em;
  }
  .logo {
    width: 20%;
  }
  .tematicas-titulo {
    font-size: 1.5rem;
    padding: 0.1;
  }
  .fondo-contacto {
    height: 85vh;
  }

  .formulario .img-monstruo {
    height: 9rem;
    width: 13rem;
  }

  .login {
    transform: translateY(-5%);
  }

  .footer a p {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .formulario {
    width: 18rem;
    padding: 0.1em;
  }

  .bx {
    margin-left: 75%;
  }
  .formulario .img-monstruo {
    height: 7rem;
    width: 10rem;
  }
  .div-btn .custom-button {
    width: 100%;
    text-overflow: ellipsis;
  }
  .register {
    transform: translateY(-2%);
  }
  .contenedor-cards {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 420px) {
  .logo-none {
    display: none;
  }

  .formulario {
    width: 100%;
  }
  .div-btn .custom-button {
    width: 100%;
    text-overflow: ellipsis;
  }
  .footer a p {
    display: none;
  }
}

@media (max-width: 320px) {
  .logo-none {
    display: none;
  }
  .bx {
    display: none;
  }
}
