* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.logo {
  width: 20%;
}
.titulo {
  background-image: url(./imgs/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 12rem;
  width: 100%;
  font-size: 5rem;
}
/* .img-portada  {
  height: 30vh;

} */
.tematicas-titulo {
  color: #fff;
  /* background-color: #824283; */
  background: rgb(118, 19, 194);
  background: linear-gradient(
    90deg,
    rgba(118, 19, 194, 1) 0%,
    rgba(62, 1, 92, 1) 35%,
    rgba(100, 32, 187, 1) 100%
  );
  padding: 1em;
  margin: auto;
}

.card .btn-index {
  width: 60%;
  background-color: #824283;
  color: #fff;
  cursor: pointer;
  border: none;
  height: 40px;
}
.card-box {
  object-fit: contain;
  border: none;
  border-radius: 5px;
  
  /* -webkit-box-shadow: 10px 10px 13px -5px rgba(102,102,102,1);
  -moz-box-shadow: 10px 10px 13px -5px rgba(102,102,102,1);
  box-shadow: 10px 10px 13px -5px rgba(102,102,102,1); */
  
}
.card-box img {
 object-fit: cover; 
}
.card .card-body {
  margin: 0.1em;
}
body {
  background-image: url(./imgs/sombras.jpeg);
  /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    margin: auto; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.contenedor__todo {
  max-width: 100%;
  margin: auto;
}

.contenedor__todo,
.caja__trasera {
  /* margin-top: 10%; */
  width: 70%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /* background-color: rgba(196, 76, 226, 0.548); */
  background-color: rgba(195, 0, 255, 0.5);
}

.caja__trasera div {
  padding: 40px;
  color: white;
  transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera button {
  padding: 1em;
}

.caja__trasera div h3 {
  font-weight: 400;
  font-size: 2rem;
}

.caja__trasera div p {
  font-size: 1.1rem;
  font-weight: 300;
}

.caja__trasera button {
  padding: 10px 40px;
  border: 2px solid #fff;
  font-size: 14px;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;
}

.caja__trasera button:hover {
  background: #fff;
  color: #b446fd;
}

.carou-principal {
  max-width: 100%;
  margin: auto;
}
.imgs-carou img {
  max-width: 100%;
}

@media screen and (max-width: 856px) {
  .caja__trasera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .caja__trasera div {
    padding: 10px;
  }
}
