* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.logo {
  width: 20%;
}
.formulario {
  width: 40%;
  border: 5px solid #8f4790;
  background-color: #fff;
  border-radius: 10px;
  padding: 1em;
}
.formulario .img-monstruo {
  height: 12rem;
  width: 17rem;
  margin: 0 auto;
}

.formulario input {
  border: 2px solid #8f4790;
  border-radius: 10px;
}
.bx {
  font-size: 25px;
  transform: translateY(-120%);
  margin-left: 85%;
}
.div-btn .custom-button {
  width: 60%;
  background-color: #824283;
  color: #fff;
  cursor: pointer;
  border: none;
  height: 40px;
  box-shadow: 1px 1px 2px #000;
}
.div-btn .custom-button:hover {
  background-color: #8f4790;
  color: #fff;
}
.fondo-contacto {
  background-image: url(../imgs/fondo-it.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  padding: 2em;

}
@media (max-width: 992px) {
  .formulario .img-monstruo {
    height: 10rem;
    width: 15rem;
  }

  .register {
    transform: translateY(-5%);
  }
  .login {
    transform: translateY(-5%);
  }
}

@media (max-width: 768px) {
  .formulario {
    width: 18rem;
    padding: 0.1em;
  }

  .bx {
    margin-left: 75%;
  }
  .formulario .img-monstruo {
    height: 7rem;
    width: 10rem;
  }
  .div-btn .custom-button {
    width: 100%;
    text-overflow: ellipsis;
  }
  .register {
    transform: translateY(-5%);
  }
  .login {
    transform: translateY(-5%);
  }
}
@media (max-width: 320px) {
  .formulario .img-monstruo {
    height: 5rem;
    width: 7rem;
  }
  .formulario {
    width: 100%;
  }
  .bx {
    visibility: hidden;
  }
  .div-btn .custom-button {
    width: 100%;
    text-overflow: ellipsis;
  }
  .register {
    transform: translateY(-5%);
  }
}
